@model IEnumerable<Web06_11_23.Models.Consulta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPaciente)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Ficha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConsulta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPaciente)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Ficha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsulta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idConsulta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idConsulta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idConsulta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
